<div class="login-page">

   <md-content class="md-padding">
    <md-card>
      <md-card-content>
        <img ng-src="/app/assets/images/bthcf-logo.png"  alt="Logo">
        <form name="loginForm" ng-submit="submit()">

          <md-input-container class="md-input-has-value">
            <label for='username'>Username</label>
            <input id='username' name="username" type="text" ng-model="username" ng-change="reset()" required=''>

          </md-input-container>
          
          <md-input-container class="md-input-has-value">
            <label for='password'>Password</label>
            <input id='password' name="password" type="password" ng-model="password" ng-change="reset()"  required='' >

          </md-input-container>
          <md-input-container class="md-input-invalid">
            <ng-message class="ng-message">{{message}}</ng-message>
          </md-input-container>
          <div class="md-actions" layout="row" layout-align="end center" ng-click='submit()'>
             <md-button>Login</md-button>
          </div>
        </form>
    
      </md-card-content>
    </md-card>
  </md-content>

</div>