<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><img ng-src="/app/assets/images/bthcf-logo.png"  alt="Logo"></span>
      <div class="mdl-layout-spacer"></div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" ng-model="filt_by" />
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
  </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Patient Selector</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Add</a>
        <a class="mdl-navigation__link" href="">Remove</a>
        <a class="mdl-navigation__link" ng-click="signOut()" >Sign Out</a>
      </nav>
    </div>

  <main class="mdl-layout__content mdl-color--grey-100">
<!--
    <button class="patients-list--action_right mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
    </button> -->

    <table class=" patients-list-table mdl-data-table--selectable mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width" >
      <thead>
        <tr>
          <th >Patient Number</th>
          <th >PHIN</th>
          <th >First Name</th>
          <th >Last Name</th>
          <th >Gender</th>
          <th >Birth Date</th>
          <th >Phone Number</th>
          <th >BPMH</th>
          <th class="patients-list-cell__full ">Note</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="patient in patients | filter: filt_by" ng-click="onPatientSelected(patient)">
          <td></td>
          <td class="text-align-left">{{ patient.patient_number }}</td>
          <td class="text-align-left">{{ patient.phin }}</td>
          <td class="text-align-left">{{ patient.firstname}}</td>
          <td class="text-align-left"> {{ patient.lastname }}</td>
          <td class="text-align-left">{{ patient.gender }}</td>
          <td>{{ patient.birthday | date : format : short}}</td>
          <td class="text-align-left">{{ patient.phone1 }}</td>
          <td class="text-align-left"> <span class="color-green" ng-show='patient.bpmh_completed'>completed</span></td>
          <td class="mdl-data-table__cell--non-numeric">{{ patient.note }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </main>
  
</div>