<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      
      <span class="mdl-layout-title" ng-bind="title "> </span>
      <div class="mdl-layout-spacer"></div>
  
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" ng-show="isSearchAble">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        
        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input" type="text" id="search" ng-model="filt_by" />
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">Sign Out</li>
  
      </ul>
    </div>
  </header>
  <div class="patient-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="patient-drawer-header">

      <div class="patient-avatar">
        <span class="name" ng-bind="patient.firstname"></span>
        <span class="name" ng-bind="patient.lastname"></span>
      </div>
      </br>
      <div class="patient-avatar">
        <span class="small">Height</span>
        <span class="small">169 cm</span>
      </div>
      <div class="patient-avatar">
        <span class="small">Weight</span>
        <span class="small">67 kg</span>
      </div>
    </header>
    <nav class="patient-navigation full_height mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" ui-sref="home" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i><span>Patients List</span></a>
      <a class="mdl-navigation__link" ui-sref='dashboard.profile' href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i><span>Profile</span></a>
      <a class="mdl-navigation__link" ui-sref='dashboard.bpmh' href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i><span>BPMH</span></a>
      <a class="mdl-navigation__link" ui-sref='dashboard.pos' href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i><span>POS</span></a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i><span><span>Transfer</span></a>
      <a class="mdl-navigation__link" ui-sref='dashboard.discharge' href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i><span>Discharge</span></a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i><span>History</span></a>

      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div ui-view></div>
  </main>
</div>