<article id="bpmh"  class="column">
  <section class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        
        <span>Allergies/Intolerancesm(& Reactions:)</span>       
      </div>
    </md-toolbar>
    <md-radio-group ng-model="allergy.hasAllergy">
      <md-radio-button class="radio_button_horizontal" value="Yes" >Has allergies</md-radio-button>
      <md-radio-button class="radio_button_horizontal" value="No" >No Known Allergies</md-radio-button>
      <md-radio-button class="radio_button_horizontal" value="Unknow"> Unable to Obtain </md-radio-button>

    </md-radio-group>
    <md-input-container  class="margin-left-20px" flex="" ng-show="allergy.hasAllergy=='Yes'">
      <textarea ng-model="allergy.content" columns="1" aria-label ="allergy list"></textarea>
      <label > type all allergies/intolerances here</label>
    </md-input-container>
  </section>
  <section class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Best Possible Medication History</span>
        <span flex></span>

        <button ng-click="addMedicationRecord()" ng-hide="not_take_meds" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ">
          <i class="material-icons">add</i>
        </button>
        <button ng-click="removeMedicationRecord()" ng-hide="not_take_meds" class="mdl-button mdl-js-button mdl-button--fab ">
          <i class="material-icons">remove</i>
        </button>
      </div>
    </md-toolbar>
    <div flex='row'>
      <md-checkbox ng-model="not_take_meds" aria-label="TAKES NO MEDS" flex="30" class="md-warn md-align-top-left radio_button_horizontal">
        <span>Takes no medication</span>
      </md-checkbox>

    </div>
    <table ng-hide="not_take_meds" class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
      <thead>
        <tr>
          <th></th>
          <th ng-click="order_by='name'">
            <span>Best Possible Medication History</span>
          </th>
          <th>
            Action
          </th>
          <th>
             <span>Admission Prescription</span>
          </th>
          <th>
            <span>Reconciliation</span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="medication_rec in reconciliation.medications | orderBy: order_by  ">
          <td>
            <label class="mdl-checkbox mdl-js-checkbox">
              <input type="checkbox" ng-model="medication_rec.selected" class="mdl-checkbox__input" aria-label ="select line"></input>
            </label>
          </td>
          <td>
            <div layout='column'>
              <div class="bpmh_md-input-container" layout="row">
                <label flex=20>Name</label>
                <input flex =80 ng-model="medication_rec.name" aria-label="Medication"></input>
              </div>
              <div class="bpmh_md-input-container " layout="row">
                 <label flex=20>Does</label>
                 <input flex =80 ng-model="medication_rec.dose" ></input>
              </div> 
              <div class="bpmh_md-input-container " layout="row">
                  <label flex=20>Route</label>
                  <input flex =80 ng-model="medication_rec.route" layout="row"></input>
              </div>
              <div class="bpmh_md-input-container " layout="row">
                  <label flex=20>Frequency</label>
                  <input flex =80 ng-model="medication_rec.frequency" ></input>
              </div>
              <div class="bpmh_md-input-container " layout="row">
                   <label>Last Dose</label>
                   <input flex =80 ng-model="medication_rec.last_dose" ></input>
              </div>
            </div>
          </td>
            <td>
                <md-select name="action" class="bpmh_md-select  "  ng-model="medication_rec.action" aria-label  = "action" required="">
                          <md-option value="continue" class="md-primary" aria-label ="Continue">Continue</md-option>
                          <md-option value="discontinue" aria-label ="Do Not Order">Do Not Order</md-option>
                          <md-option value="change" aria-label ="Change">Change</md-option>
                </md-select>
            </td>
            <td>
              <div layout='column'>
                <div class="bpmh_md-input-container" layout="row">
                   <label flex=20>Name</label>
                   <input flex =80 disabled=true  ng-model="medication_rec.name" aria-label="Medication"></input>
                </div>
                <!--
                <div class="bpmh_md-input-container" layout="row">
                    <md-radio-group ng-model="medication_rec.change_to.new_medication">
                      <md-radio-button class="radio_button_horizontal" value="true" >new medication</md-radio-button>
                      <md-radio-button class="radio_button_horizontal" value="false" >same medication</md-radio-button>
                    </md-radio-group>-->
                 </div>
                 
                <div class="bpmh_md-input-container " layout="row">
                   <label flex=20>Does</label>
                   <input flex =80 ng-model="medication_rec.change_to.dose" ></input>
                 </div> 
                 <div class="bpmh_md-input-container " layout="row">
                    <label flex=20>Route</label>
                    <input flex =80 ng-model="medication_rec.change_to.route" ></input>
                 </div>
                 <div class="bpmh_md-input-container " layout="row">
                    <label flex=20>Frequency</label>
                    <input flex =80 ng-model="medication_rec.change_to.frequency" ></input>
                  </div>
    
              </td>
              <td>
                <md-select name="action" class="bpmh_md-select  md-select-label_200" aria-label ="action" ng-model="medication_rec.reconciliation" required="">
                    <md-option value="no" class="md-primary">No Discrepancy</md-option>
                    <md-option value="Undocumented">Intentional Undocumented</md-option>
                    <md-option value="Unintended">Unintended discrepancy</md-option>
                    <md-option value="resovled">Resolved</md-option>
                </md-select>

              </td>
          <td>
        </tr>
      </tbody>
    </table>
    
    
  </section>
  </article>