<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          <img ng-src="/app/assets/images/bthcf-logo.png"  alt="Logo">
        </span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield  patient-demographics_row" ng-show="show_demographics">
            <div flex=50>
              Patient Name: {{patient.firstname}} {{patient.middlename}} {{patient.lastname}}
            </div>
            <div> Patient #: {{patient.phin}}</div>

            <div > Birth Date: {{patient.birthday | date:"MM/dd/yyyy "}}</div>
        </div>
      </div>
    </header>
    <div id = 'drawer' class="mdl-layout__drawer">
      <span class="mdl-layout-title">

      </span>
      <nav class="mdl-navigation">
               <a class="mdl-navigation__link" ui-sref="home" href=""><span>Patients Selector</span></a>
                <a class="mdl-navigation__link" ui-sref='dashboard.profile' href=""><span>Patient Profile</span></a>
                <a class="mdl-navigation__link" ui-sref='dashboard.bpmh' href=""><span>BPMH</span></a>
                <a class="mdl-navigation__link" ui-sref='dashboard.current_prescription' href=""><span>Current Prescription</span></a>
                <a class="mdl-navigation__link" ui-sref='dashboard.reconciliation' href=""><span>Reconciliation</span></a>
                <a class="mdl-navigation__link" ui-sref='dashboard.transfer' href=""><span>Transfer</span></a>
                <a class="mdl-navigation__link" ui-sref='dashboard.discharge' href=""><span>Discharge</span></a>
                <a class="mdl-navigation__link" href=""><span>History</span></a>
      </nav>
  </div>
<!--

  -->
  <main class="mdl-layout__content mdl-color--grey-100">

    <div ui-view></div>
  </main>

</div>