<div layout="column" >
  <md-content layout-padding="">
      <form name="userForm" autocomplete="false" autocomplete="off">

        <div layout="" layout-sm="column">
          <div layout="" layout-sm="column">
            <md-input-container flex="">
              <label>First Name</label>
              <input ng-model="patient.firstname">
            </md-input-container>
            <md-input-container flex="">
              <label>Last Name</label>
              <input ng-model="patient.lastname">
            </md-input-container>
          </div>
          <md-select name="gender" placeholder="--" ng-model="patient.gender" >
            <md-option value="M">Male</md-option>
            <md-option value="F">Female</md-option>
            <md-option value="">--</md-option>
          </md-select>
          <md-input-container flex="">
            <label>Personal Health #</label>
            <input type="text" ng-model="patient.phin">
          </md-input-container>
          
          <md-input-container flex="">
            <label>Birth Date</label>
            <input type="date" >
          </md-input-container>

        </div>

        <md-input-container flex="">
          <label>Address</label>
          <input ng-model="patient.address.line_1">
        </md-input-container>
        <md-input-container md-no-float="">
          <input ng-model="patient.address.line_2" placeholder="Line 2">
        </md-input-container>

        <div layout="" layout-sm="column">
          <md-input-container flex="">
            <label>City</label>
            <input ng-model="patient.address.city">
          </md-input-container>
          <md-input-container flex="">
            <label>Province</label>
            <input ng-model="patient.address.province">
          </md-input-container>
          <md-input-container flex="">
            <label>Postal Code</label>
            <input ng-model="patient.address.postal">
          </md-input-container>
        </div>

        <md-input-container flex="">
          <label>Note</label>
          <textarea ng-model="patient.note" columns="1" md-maxlength="150"></textarea>
        </md-input-container>


      </form>
    </md-content>
    
</div>