<article id="bpmh"  class="column">
  <section class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        
        <span>Allergies/Intolerancesm(& Reactions:)</span>       
      </div>
    </md-toolbar>
    <md-radio-group ng-model="allergy.hasAllergy">
      <md-radio-button class="radio_button_horizontal" value="Yes" >Has allergies</md-radio-button>
      <md-radio-button class="radio_button_horizontal" value="No" >No Known Allergies</md-radio-button>
      <md-radio-button class="radio_button_horizontal" value="Unknow"> Unable to Obtain </md-radio-button>

    </md-radio-group>
    <md-input-container  class="margin-left-20px" flex="" ng-show="allergy.hasAllergy=='Yes'">
      <textarea ng-model="allergy.content" columns="1" aria-label ="allergy list"></textarea>
      <label > type all allergies/intolerances here</label>
    </md-input-container>
  </section>
  <section class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Best Possible Medication History</span>
        <span flex></span>
        <button ng-click="addMedicationRecord()" ng-hide="not_take_meds" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ">
          <i class="material-icons">add</i>
        </button>
        <button ng-click="removeMedicationRecord()" ng-hide="not_take_meds" class="mdl-button mdl-js-button mdl-button--fab ">
          <i class="material-icons">remove</i>
        </button>
      </div>

    </md-toolbar>


    <div flex='row'>
      <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <md-checkbox ng-model="not_take_meds" aria-label="TAKES NO MEDS" flex="30" class="md-warn md-align-top-left radio_button_horizontal">
          <span>Takes no medication</span>
        </md-checkbox>
      </div>
    </div>
 
    <table ng-hide="not_take_meds" class="background-color_blue mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
      <thead>
        <tr>
          <th></th>
          <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
          <th>Dose</th>
          <th>Route</th>
          <th>Frequency</th>
          <th>Last Dose</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="medication_rec in medications | orderBy: order_by  ">
          <td>
            <label class="mdl-checkbox mdl-js-checkbox">
              <input type="checkbox" ng-model="medication_rec.selected" class="mdl-checkbox__input" aria-label ="select line"></input>
            </label>
           </td>
           <td class="mdl-data-table__cell--non-numeric">
              <div class="bpmh_md-input-container" layout="row">
                
                <input flex =80 ng-model="medication_rec.name" aria-label="Medication"></input>
                

              </div>
            </td>
            <td>
              <div class="bpmh_md-input-container " layout="row">
                 
                 <input flex =80 ng-model="medication_rec.dose" ></input>
              </div> 
            </td>
            <td>
              <div class="bpmh_md-input-container " layout="row">
                 
                  <input flex =80 ng-model="medication_rec.route" layout="row"></input>
              </div>
            </td>
            <td>
              <div class="bpmh_md-input-container " layout="row">
                  
                  <input flex =80 ng-model="medication_rec.frequency" ></input>
              </div>
            </td>
            <td>
              <div class="bpmh_md-input-container " layout="row">
                   
                   <input flex =80 ng-model="medication_rec.last_dose" ></input>
              </div>
            </td>

        </tr>
      </tbody>
    </table>
    <div class ="md-padding">
      <md-checkbox ng-model="completed" aria-label="TAKES NO MEDS" flex="30" class="md-warn md-align-top-left radio_button_horizontal">
        <span>Completed</span>
      </md-checkbox>
      <fieldset class="small">
          <legend>Source: </legend>
          <div  class ="mdl-grid">
                <div class ="mdl-cell ">
                       <md-checkbox ng-model="source.patient" aria-label="Patient" class="margin-0 md-warn md-align-top-left radio_button_horizontal">
                         <span>Patient</span>
                       </md-checkbox>
                </div>
                <div class ="mdl-cell ">
                       <md-checkbox ng-model="source.family" aria-label="Family" class="margin-0 md-warn md-align-top-left radio_button_horizontal">
                         <span>Family</span>
                       </md-checkbox>
                </div>
                <div class ="mdl-cell ">
                       <md-checkbox ng-model="source.pillpack" aria-label="Pillpack/vial" class="margin-0 md-warn md-align-top-left radio_button_horizontal">
                         <span>Pillpack/vial</span>
                       </md-checkbox>
                </div>
                <div class ="mdl-cell ">                    
                       <md-checkbox ng-model="source.commulity_pharmacy" aria-label="Cummulity Pharmacy" class="margin-0 md-warn md-align-top-left radio_button_horizontal">
                         <span>Community Pharmacy</span>
                       </md-checkbox>
                </div>
                <div class ="mdl-cell ">
                       <md-checkbox ng-model="source.family_dr" aria-label="Family dr records" class="margin-0 md-warn md-align-top-left radio_button_horizontal">
                         <span>Family Dr. Records</span>
                       </md-checkbox>
                </div>
                <div class ="mdl-cell ">
                       <md-checkbox ng-model="source.med_list" aria-label="Med List" class="margin-0 md-warn md-align-top-left radio_button_horizontal">
                         <span>Med. List</span>
                       </md-checkbox>
                </div>

          </div>

      </fieldset>
      <fieldset class="small">
        <legend>Taken By:</legend>
        <div class ="mdl-grid" >

            <div class="bpmh_md-input-container " >
              <label >Name: </label>

              <span class="padding-left_10">{{taken_by.name}}</span>
            </div>
            <div class="bpmh_md-input-container padding-left_10" >
              <label >Time: </label>
              <span class="padding-left_10">{{taken_by.time | date:"MM/dd/yyyy 'at' h:mma" }}</span>

            </div>
            

            <span flex=""></span>
        </div>
      </fieldset>
    </div>

  </section>
  

  </article>