<article id='discharge' >
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>Discharge Prescription</h4>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class ="" >
        <label class="light" flex=20>First Name:</label>
        <span class ="padding-left_10" flex =60>{{patient.firstname}}</span>
      </div>
      <div class ="" >
        <label class="light" flex=20>Middle Name:</label>
        <span  class ="padding-left_10" flex =60>{{patient.middlename}}</span>
      </div>
      <div class ="" >
        <label class="light" flex=20>Last Name:</label>
        <span  class ="padding-left_10" flex =60>{{patient.lastname}}</span>
      </div>
      <div class ="" >
        <label class="light" flex=20>Date of Birth:</label>
        <span  class ="padding-left_10" flex =60>{{patient.birthday | date:'MM/dd/yyyy'}}</span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col" >
          <div class ="">
            <label class="light" flex=20>Address:</label>
            <span class ="padding-left_10" flex =60>{{patient.address.line_1}}</span>
          </div>
          <div  ng-show="patient.address.line_2" class ="">
            <label class="light" flex=20></label>
            <span  class ="padding-left_10" flex =60>{{patient.address.line_2}}</span>
          </div>
          <div class ="" >
            <label class="light" flex=20>City:</label>
            <span  class ="padding-left_10" flex =60>{{patient.address.city}}</span>
          </div>
          <div class ="" >
            <label class="light" flex=20>Province:</label>
            <span  class ="padding-left_10" flex =60>{{patient.address.province}}</span>
          </div>
          <div class ="">
              <label class="light" flex=20>Postal code:</label>
              <span  class ="padding-left_10" flex =60>{{patient.address.postal}}</span>
          </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-grid">
        <div class ="" >
          <label class="light" >Allergy</label>
          <div class ="">{{data.allergy.content}}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide='data.reconciled' class="padding-left_10  padding-top_10 red">
    Please complete reconciliation before doing a discharging plan!
  </div>
 <br/>
  <section class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span> Summary of medication changes since admission</span>
      </div>
     </md-toolbar>
     <div class="background-color_green" >
       <h5 class="padding-left_10 padding-top_10"  >New medications</h5>
       <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
         <thead>
           <tr>
             <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
             <th>Dose</th>
             <th>Route</th>
             <th>Frequency</th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="medication_rec in data.new_medications | orderBy: order_by  ">

              <td class="mdl-data-table__cell--non-numeric">
                 <div class="" layout="row">

                   <span > {{medication_rec.name}}</span>
                 </div>
               </td>
               <td>
                 <div class=" " layout="row">

                    <span >{{medication_rec.dose}}</span>
                 </div> 
               </td>
               <td>
                 <div class=" " layout="row">

                     <span>{{medication_rec.route}}</span>
                 </div>
               </td>
               <td>
                 <div class=" " layout="row">

                     <span >{{medication_rec.frequency}}</span>
                 </div>
               </td>


           </tr>
         </tbody>
       </table>
     </div>
     <div class="background-color_blue" >
        <h5 class="padding-left_10 padding-top_10"  >Countinued medications</h5>
        <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
              <th>Dose</th>
              <th>Route</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="medication_rec in data.continued | orderBy: order_by  ">

               <td class="mdl-data-table__cell--non-numeric">
                  <div class="" layout="row">

                    <span  > {{medication_rec.name}}</span>
                  </div>
                </td>
                <td>
                  <div class=" " layout="row">

                     <span >{{medication_rec.dose}}</span>
                  </div> 
                </td>
                <td>
                  <div class=" " layout="row">

                      <span>{{medication_rec.route}}</span>
                  </div>
                </td>
                <td>
                  <div class=" " layout="row">

                      <span >{{medication_rec.frequency}}</span>
                  </div>
                </td>


            </tr>
          </tbody>
        </table>
     </div>
     <div class="background-color_yellow" >
         <h5 class="padding-left_10 padding-top_10"  >Adjusted medications</h5>
         <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
           <thead>
             <tr>
               <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
               <th>Dose</th>
               <th>Route</th>
               <th>Frequency</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="medication_rec in data.changed | orderBy: order_by  ">

                <td class="mdl-data-table__cell--non-numeric">
                   <div class="" layout="row">

                     <span > {{medication_rec.name}}</span>
                   </div>
                 </td>
                 <td>
                   <div class=" " layout="row">

                      <span class="crossed"> {{medication_rec.dose}}</span>
                      <span > {{medication_rec.history.changes[0].dose}}</span>
                   </div> 
                 </td>
                 <td>
                   <div class=" " layout="row">

                       <span class="crossed">{{medication_rec.route}}</span> 
                       <span>{{medication_rec.history.changes[0].route}}</span>
                   </div>
                 </td>
                 <td>
                   <div class=" " layout="row">

                       <span class="crossed">{{medication_rec.frequency}}</span>
                       <span >{{medication_rec.history.changes[0].frequency}}</span>
                   </div>
                 </td>


             </tr>
           </tbody>
         </table>
       </div>
     <div class="background-color_red" >
        <h5 class="padding-left_10 padding-top_10"  >Discountinued medications</h5>
        <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
              <th>Dose</th>
              <th>Route</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="medication_rec in data.stopped | orderBy: order_by  ">

               <td class="mdl-data-table__cell--non-numeric">
                  <div class="" layout="row">

                    <span  > {{medication_rec.name}}</span>
                  </div>
                </td>
                <td>
                  <div class=" " layout="row">

                     <span >{{medication_rec.dose}}</span>
                  </div> 
                </td>
                <td>
                  <div class=" " layout="row">

                      <span>{{medication_rec.route}}</span>
                  </div>
                </td>
                <td>
                  <div class=" " layout="row">

                      <span >{{medication_rec.frequency}}</span>
                  </div>
                </td>


            </tr>
          </tbody>
        </table>
      </div>
  </section>
  
  
</article>

