<article id="bpmh"  class="column">
  <section class="md-whiteframe-z1">
     <md-toolbar>
        <div class="md-toolbar-tools">
          <span> Existing Medications</span>

        </div>
      </md-toolbar>
      <table ng-hide="not_take_meds" class="background-color_blue mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
          <thead>
            <tr>
              <th ng-click="order_by='name'">
                <span>Medication</span>
              </th>
              <th>
                Action
              </th>
              <th>
                 <span>Admission Prescription</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="medication_rec in data.reconciled_medications | orderBy: order_by  ">
              <td>
                <div layout='column'>
                  <div class="bpmh_md-input-container" layout="row">
                    <label flex=20>Name</label>
                    <span flex =60> {{medication_rec.name}}</span>
                  </div>
                  <div class="bpmh_md-input-container " layout="row">
                     <label flex=20>Does</label>
                     <span flex =60>{{medication_rec.dose}}</span>
                  </div> 
                  <div class="bpmh_md-input-container " layout="row">
                      <label flex=20>Route</label>
                      <span flex =60>{{medication_rec.route}}</span>
                  </div>
                  <div class="bpmh_md-input-container " layout="row">
                      <label flex=20>Frequency</label>
                      <span flex =60>{{medication_rec.frequency}}</span>
                  </div>
                  <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Last Dose</label>
                       <span flex =60>{{medication_rec.last_dose}} </span>
                  </div>
                </div>
              </td>
                <td>
                    <md-select name="action" class="bpmh_md-select  "  ng-model="medication_rec.action" ng-change="onMedicationChanged(medication_rec)" aria-label  = "action" required="">
                              <md-option value="continue" class="md-primary" aria-label ="Continue">Continue</md-option>
                              <md-option value="discontinue" aria-label ="Do Not Order">Do Not Order</md-option>
                              <md-option value="change" aria-label ="Change">Change</md-option>
                    </md-select>
                    <!--
                    <div class="bpmh_md-input-container underlined" ng-hide = "medication_rec.action == 'continue' " layout="row">
                       <label flex=20>Reason</label>
                       <textarea flex =80 class="" ng-model="medication_rec.change_to.reason" ng-change="onMedicationChanged(medication_rec)" aria-label="Medication"></textarea>
                    </div> -->
                </td>
                <td>
                  <div layout='column' ng-show= "medication_rec.action=='change'">


                    <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Does</label>
                       <input flex =80 class="underlined" ng-model="medication_rec.change_to.dose"  ng-change="onMedicationChanged(medication_rec)"></input>
                    </div> 
                    <div class="bpmh_md-input-container " layout="row">
                        <label flex=20>Route</label>
                        <input flex =80 class="underlined" ng-model="medication_rec.change_to.route" ng-change="onMedicationChanged(medication_rec)"></input>
                    </div>
                    <div class="bpmh_md-input-container " layout="row">
                        <label flex=20>Frequency</label>
                        <input flex =80 class="underlined" ng-model="medication_rec.change_to.frequency" ng-change="onMedicationChanged(medication_rec)"></input>
                    </div>
                    <div class="bpmh_md-input-container " layout="column">
                       <label>Reason</label>
                       <textarea  class="underlined padding-bottom_5" ng-model="medication_rec.change_to.reason" ng-change="onPrescriptionChanged(physician_order, medication_rec)"></textarea>
                    </div>
                  </div>
                  <div layout='column' ng-show= "medication_rec.action=='discontinue'">
                    <div class="bpmh_md-input-container " layout="column">
                       <label>Reason</label>
                       <textarea  class="underlined" ng-model="medication_rec.change_to.reason" ng-change="onPrescriptionChanged(physician_order, medication_rec)"></textarea>
                    </div>
                  </div>
              <td>
            </tr>
          </tbody>
      </table>
  </section>
  <section class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div class="md-toolbar-tools">
           <span> New Prescription</span>
        </div>
        <span flex></span>

        <button ng-click="showAdvanced($event)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ">
             <i class="material-icons">add</i>
        </button>

      </div>
     </md-toolbar>
     
     <div ng-repeat="physician_order  in data.physician_orders">
       <header class="padding_5 light" layout="row">

          <span flex="">
           Authorized Prescriber: <span>{{physician_order.prescriber.name}}</span>
          </span>
          <span flex="">
           Prescriber Number: <span>{{physician_order.prescriber.number}} </span>
          </span>
          
          <span flex="">
           Time: {{physician_order.prescriber.time | date:"MM/dd/yyyy 'at' h:mma" }}
          </span>
       </header>
       <table class="background-color_green mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
           <thead>
             <tr>
               <th ng-click="order_by='name'">
                 <span>Medication</span>
               </th>
               <th>
                 Action
               </th>
               <th>
                  <span>Admission Prescription</span>
               </th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="medication_rec in physician_order.medications | orderBy: order_by  ">
               <td>
                 <div layout='column'>
                   <div class="bpmh_md-input-container" layout="row">
                     <label flex=20>Name</label>
                     <span flex =60> {{medication_rec.name}}</span>
                   </div>
                   <div class="bpmh_md-input-container " layout="row">
                      <label flex=20>Does</label>
                      <span flex =60>{{medication_rec.dose}}</span>
                   </div> 
                   <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Route</label>
                       <span flex =60>{{medication_rec.route}}</span>
                   </div>
                   <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Frequency</label>
                       <span flex =60>{{medication_rec.frequency}}</span>
                   </div>
                   <div class="bpmh_md-input-container " layout="row">
                        <label>Last Dose</label>
                        <span flex =60>{{medication_rec.last_dose}} </span>
                   </div>
                 </div>
               </td>
                 <td>
                     <md-select name="action" class="bpmh_md-select  "  ng-model="medication_rec.action" ng-change="onPrescriptionChanged(physician_order, medication_rec)" aria-label  = "action" required="">
                               <md-option value="continue" class="md-primary" aria-label ="Continue">Continue</md-option>
                               <md-option value="discontinue" aria-label ="Do Not Order">Do Not Order</md-option>
                               <md-option value="change" aria-label ="Change">Change</md-option>
                     </md-select>
                     <!--
                     <div class="bpmh_md-input-container underlined" ng-hide = "medication_rec.action == 'continue' " layout="row">
                        <label flex=20>Reason</label>
                        <textarea flex =80 class="" ng-model="medication_rec.change_to.reason" ng-change="onMedicationChanged(medication_rec)" aria-label="Medication"></textarea>
                     </div> -->
                 </td>
                 <td>
                   <div layout='column' ng-show= "medication_rec.action=='change'">

                      <div class="bpmh_md-input-container " layout="row">
                        <label flex=20>Does</label>
                        <input flex =80 class="underlined" ng-model="medication_rec.change_to.dose"  ng-change="onPrescriptionChanged(physician_order, medication_rec)"></input>
                      </div> 
                      <div class="bpmh_md-input-container " layout="row">
                         <label flex=20>Route</label>
                         <input flex =80 class="underlined" ng-model="medication_rec.change_to.route" ng-change="onPrescriptionChanged(physician_order, medication_rec)"></input>
                      </div>
                      <div class="bpmh_md-input-container " layout="row">
                         <label flex=20>Frequency</label>
                         <input flex =80 class="underlined" ng-model="medication_rec.change_to.frequency" ng-change="onPrescriptionChanged(physician_order, medication_rec)"></input>
                      </div>
                      <div class="bpmh_md-input-container " layout="column">
                         <label>Reason</label>
                         <textarea  class="underlined padding-bottom_5" ng-model="medication_rec.change_to.reason" ng-change="onPrescriptionChanged(physician_order, medication_rec)"></textarea>
                      </div>
                      
                  </div>
                  <div layout='column' ng-show= "medication_rec.action=='discontinue'">
                    <div class="bpmh_md-input-container underlined" layout="column">
                       <label>Reason</label>
                       <textarea  class="underlined" ng-model="medication_rec.change_to.reason" ng-change="onPrescriptionChanged(physician_order, medication_rec)"></textarea>
                    </div>
                  </div>
                  </td>
               <td>
             </tr>
           </tbody>
       </table>

     </div>
  </section>

  <script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Mango (Fruit)">
    <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Medications</h2>
        <span flex></span>

      </div>
    </md-toolbar>
    <md-dialog-content >
      <div>
       <section class="md-whiteframe-z1">

                     <table  class=" mdl-data-table  ">
                       <thead>
                         <tr>
                           <th class="fixed_width_300  "><label>Name</label></th>
                           <th class="mdl-data-table__cell--non-numeric"><label>Dose</label></th>
                           <th class="mdl-data-table__cell--non-numeric"><label>Route</label></th>
                           <th class="mdl-data-table__cell--non-numeric"><label>Frequency</label></th>
                         </tr>
                       </thead>
                       <tr ng-repeat='medication_rec in data.medications'>

                         <td class="full-cell">
                           <div class="admission_md-input-container" layout="row">
                             <input ng-model="medication_rec.name" aria-label="Medication"></input>
                           </div>
                         </td>
                         <td class="full-cell">
                           <div class="admission_md-input-container " layout="row">
                             <input flex =80 ng-model="medication_rec.dose" ></input>
                           </div> 
                         </td>
                         <td class="full-cell">
                            <div class="admission_md-input-container " layout="row">
                              <input flex =80 ng-model="medication_rec.route" ></input>
                            </div>
                         </td>
                         <td class="full-cell">
                           <div class="admission_md-input-container " layout="row">
                             <input flex =80 ng-model="medication_rec.frequency" ></input>
                           </div>
                         </td>
                       </tr>
                     </table>

                     <form name="PrescriberForm" >
                        <div layout="" layout-sm="column">
                            <md-input-container flex="">
                              <label>Authorised Prescirber</label>
                              <input required="" name="PrescriberName" ng-model="data.prescriber.name">
                              <!--
                              <div ng-messages="PrescriberForm.PrescriberName.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                              -->
                            </md-input-container>
                            <md-input-container flex="">
                              <label>Prescirber Number</label>
                              <input required="" name="PrescriberNumber" ng-model="data.prescriber.number">
                              <!--
                              <div ng-messages="PrescriberForm.PrescriberNumber.$error">
                                <div ng-message="required">This is required.</div>
                              </div>
                              -->
                            </md-input-container>
                        </div>
                     </form>
                     <div class="md-actions" layout="row">
                        <span flex></span>
                        <md-button ng-click="cancel()">
                            Cancel
                        </md-button>
                        <md-button ng-click="save()" style="margin-right:20px;">
                            Save
                        </md-button>
                     </div>
         </section>
      </div>
    </md-dialog-content>

  </md-dialog>
  </script>
</article>