<article id='pos' class="column">
  <button ng-click="newOrder()" class="patients-list--action_right mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ">
    <i class="material-icons">add</i>
  </button>
  <md-content>
    <md-list >

      <md-list-item class="md-3-line" ng-repeat="order in physician_orders.orders" >

        <div layout="column" flex>
          <md-subheader class="md-primary">Created at: {{ order.order_time |  date:'medium' }}</md-subheader>
          <div layout-gt-md="row" layout="column" flex>
            <md-list flex>
              <md-toolbar>
                <div class="md-toolbar-tools">
          
                  <h3>
                    <span>MEDICATION ORDERS</span>
                  </h3>
                </div>
              </md-toolbar>
               <md-list-item ng-repeat="medication in order.medications">
                 <md-input-container class="bpmh_md-input-container" flex="">
                   <textarea ng-model="medication.name" columns="1" aria-label="Medication, Does, Route, Frequencty" ></textarea>
                 </md-input-container>
               </md-list-item>
            </md-list>
            <md-list flex>
              <md-toolbar>
                <div class="md-toolbar-tools">
              
                  <h3>
                    <span>GENERAL ORDERS</span>
                  </h3>
                </div>
              </md-toolbar>
          
               <md-list-item ng-repeat="medication in order.general_orders">
                  <md-input-container class="bpmh_md-input-container" flex="">
         
                    <textarea ng-model="medication.name" columns="1" aria-label="Medication, Does, Route, Frequencty" ></textarea>
                  </md-input-container>
               </md-list-item>
            </md-list>
          </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</article>