<article id="bpmh"  class="column">
  <section class="md-whiteframe-z1 ">
     <md-toolbar>
        <div class="md-toolbar-tools">
          <span> Medication Reconciliation</span>

        </div>
      </md-toolbar>
      <table ng-hide="not_take_meds" class=" background-color_blue mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
            <thead>
              <tr>
                <th ng-click="order_by='name'"  class="fixed_width_300">
                  <span>Medication</span>
                </th>
                <th class="fixed_width_50">
                  Action
                </th>
                <th class="fixed_width_300">
                   <span></span>
                </th>
                <th>
                  <span>Reconciliation</span>
                </th>
                <th>
                  Resolved
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="medication_rec in data.reconciled_medications | filter: changed ">
                <td>
                  <div layout='column'>
                    <div class="bpmh_md-input-container" layout="row">
                      <label flex=20>Name</label>
                      <span flex =60> {{medication_rec.name}}</span>
                    </div>
                    <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Does</label>
                       <span flex =60>{{medication_rec.dose}}</span>
                    </div> 
                    <div class="bpmh_md-input-container " layout="row">
                        <label flex=20>Route</label>
                        <span flex =60>{{medication_rec.route}}</span>
                    </div>
                    <div class="bpmh_md-input-container " layout="row">
                        <label flex=20>Frequency</label>
                        <span flex =60>{{medication_rec.frequency}}</span>
                    </div>
                    <div class="bpmh_md-input-container " layout="row">
                         <label flex=20>Last Dose</label>
                         <span flex =60>{{medication_rec.last_dose}} </span>
                    </div>
                  </div>
                </td>
                  <td>
                      {{ medication_rec.action | action_map}}
                  </td>
                  <td>
                    <div layout='column' ng-show= "medication_rec.action=='change'">


                        <div class="bpmh_md-input-container underlined" layout="row">
                         <label flex=20>Does</label>
                         <span flex =80>{{medication_rec.change_to.dose}}</span>
                        </div> 
                        <div class="bpmh_md-input-container underlined" layout="row">
                          <label flex=20>Route</label>
                          <span flex =80> {{medication_rec.change_to.route}}</span>
                        </div>
                        <div class="bpmh_md-input-container underlined" layout="row">
                          <label flex=20>Frequency</label>
                          <span flex =80 >{{medication_rec.change_to.frequency}}</span>
                        </div>
                        <div class="bpmh_md-input-container underlined" layout="row">
                          <label flex=20>Reason</label>
                          <span flex =80 >{{medication_rec.change_to.reason}}</span>
                        </div>
                     </div>

                    </td>
                    <td>
                      <md-select name="action" ng-change='onReconciled(medication_rec)' class="bpmh_md-select  md-select-label_200" aria-label ="action" ng-model="medication_rec.reconciliation.reason" required="">
                          <md-option value="no_discrepancy" class="md-primary">No Discrepancy</md-option>
                          <md-option value="undocumented">Intentional Undocumented</md-option>
                          <md-option value="unintended">Unintended discrepancy</md-option>
                      </md-select>

                    </td>
                    <td>
                        <md-checkbox ng-model="medication_rec.reconciliation.resolved" ng-change='onReconciled(medication_rec)'  ng-hide="medication_rec.reconciliation.reason == 'no_discrepancy'" aria-label="Resolved" class="md-warn md-align-top-left radio_button_horizontal">
                            
                        </md-checkbox>
                    </td>
              </tr>
            </tbody>
        </table>
  </section>
  <section class="">
     <div ng-repeat="physician_order  in data.physician_orders">
       <table class=" background-color_green mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
           <thead>
             <tr class="height_0">
               <th class="height_0 fixed_width_300">
                 
               </th>
               <th class="height_0 fixed_width_50">
                 
               </th>
               <th class="height_0 fixed_width_300">
                  
               </th>
               <th class="height_0"></th>
               <th class="height_0"></th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="medication_rec in physician_order.medications | orderBy: order_by | filter: changed  ">
               <td>
                 <div layout='column'>
                   <div class="bpmh_md-input-container" layout="row">
                     <label flex=20>Name</label>
                     <span flex =60> {{medication_rec.name}}</span>
                   </div>
                   <div class="bpmh_md-input-container " layout="row">
                      <label flex=20>Does</label>
                      <span flex =60>{{medication_rec.dose}}</span>
                   </div> 
                   <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Route</label>
                       <span flex =60>{{medication_rec.route}}</span>
                   </div>
                   <div class="bpmh_md-input-container " layout="row">
                       <label flex=20>Frequency</label>
                       <span flex =60>{{medication_rec.frequency}}</span>
                   </div>
                   <div class="bpmh_md-input-container " layout="row">
                        <label>Last Dose</label>
                        <span flex =60>{{medication_rec.last_dose}} </span>
                   </div>
                 </div>
               </td>
                 <td>
                    {{ medication_rec.action | action_map}}
                 </td>
                 <td>
                   <div layout='column' ng-show= "medication_rec.action=='change'">


                     <div class="bpmh_md-input-container underlined" layout="row">
                        <label flex=20>Does</label>
                        <span flex =80>{{medication_rec.change_to.dose}}</span>
                      </div> 
                      <div class="bpmh_md-input-container underlined" layout="row">
                         <label flex=20>Route</label>
                         <span flex =80> {{medication_rec.change_to.route}}</span>
                      </div>
                      <div class="bpmh_md-input-container underlined" layout="row">
                         <label flex=20>Frequency</label>
                         <span flex =80 >{{medication_rec.change_to.frequency}}</span>
                       </div>
                       <div class="bpmh_md-input-container underlined" layout="row">
                         <label flex=20>Reason</label>
                         <span flex =80 >{{medication_rec.change_to.reason}}</span>
                       </div>
                     </div>

                   </td>
                   <td>
                     <md-select name="action" ng-change='onPrescriptionReconciled(physician_order,medication_rec)' class="bpmh_md-select  md-select-label_200" aria-label ="action" ng-model="medication_rec.reconciliation.reason" required="">
                         <md-option value="no_discrepancy" class="md-primary">No Discrepancy</md-option>
                         <md-option value="undocumented">Intentional Undocumented</md-option>
                         <md-option value="unintended">Unintended discrepancy</md-option>
                     </md-select>

                   </td>
                   <td>
                       <md-checkbox ng-model="medication_rec.reconciliation.resolved" ng-change='onPrescriptionReconciled(physician_order, medication_rec)'  ng-hide="medication_rec.reconciliation.reason == 'no_discrepancy'" aria-label="Resolved" class="md-warn md-align-top-left radio_button_horizontal">
                           
                       </md-checkbox>
                   </td>
  
             </tr>
           </tbody>
       </table>

     </div>
  </section>
</article>