<article id="bpmh"  class="column">
  <section class="md-whiteframe-z1">
     <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Patient Transfer</span>

        </div>
      </md-toolbar>
      <div ng-hide='data.reconciled' class="padding-left_10  padding-top_10 red">
        Please complete reconciliation before doing a transfer!
      </div>
      <div ng-show='data.reconciled' class="padding-left_10 padding-top_10 red">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" ng-model="data.destination" type="text" id="destination" />
          <label class="mdl-textfield__label" for="destination">Transfer To</label>
        </div>
        <md-button ng-show="data.destination" class="md-primary md-raised" ng-click="showConfirm($event)" flex="" flex-md="100">
          Start Transfer
        </md-button>
      </div>
      <div class="background-color_green" >
        <h5 class="padding-left_10 padding-top_10"  >Continued</h5>
        <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
            <th>Dose</th>
            <th>Route</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medication_rec in data.continued | orderBy: order_by  ">

             <td class="mdl-data-table__cell--non-numeric">
                <div class="bpmh_md-input-container" layout="row">

                  <span flex =80 > {{medication_rec.name}}</span>
                </div>
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                   <span flex =80>{{medication_rec.dose}}</span>
                </div> 
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                    <span>{{medication_rec.route}}</span>
                </div>
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                    <span flex =80>{{medication_rec.frequency}}</span>
                </div>
              </td>


          </tr>
        </tbody>
      </table>
      </div>
      <div class="background-color_blue">
        <h5 class="padding-left_10 padding-top_10" >Changed</h5>
        <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
            <th>Dose</th>
            <th>Route</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medication_rec in data.changed | orderBy: order_by  ">

             <td class="mdl-data-table__cell--non-numeric">
                <div class="bpmh_md-input-container" layout="row">

                  <span flex =80 > {{medication_rec.name}}</span>
                </div>
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                   <span flex =80>{{medication_rec.dose}}</span>
                </div> 
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                    <span>{{medication_rec.route}}</span>
                </div>
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                    <span flex =80>{{medication_rec.frequency}}</span>
                </div>
              </td>


          </tr>
        </tbody>
      </table>
      </div>
      <div class="background-color_red">
        <h5 class="padding-left_10 padding-top_10">Stopped</h5>
        <table class=" mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Medication Name</th>
            <th>Dose</th>
            <th>Route</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medication_rec in data.stopped | orderBy: order_by  ">

             <td class="mdl-data-table__cell--non-numeric">
                <div class="bpmh_md-input-container" layout="row">

                  <span flex =80 > {{medication_rec.name}}</span>
                </div>
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                   <span flex =80>{{medication_rec.dose}}</span>
                </div> 
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                    <span>{{medication_rec.route}}</span>
                </div>
              </td>
              <td>
                <div class="bpmh_md-input-container " layout="row">

                    <span flex =80>{{medication_rec.frequency}}</span>
                </div>
              </td>


          </tr>
        </tbody>
      </table>
      </div >
  </section>
<article>