html, body {
    height: 100%;
}

html {
    
}

main {
    overflow: scroll;
    padding-right:3px;
}

.small {
    font-size: 80%;
   
}
.mdl-data-table th {
    text-align: left;
}

.fixed_width_300 {
    width: 300px;
}
.fixed_width_100 {
    width: 100px;
}
.fixed_width_50 {
    width: 50px;
}

.fixed_width_30 {
    width: 30px !important;
    padding: 10px 0 !important
}
.fullwidth {
    width: 100%;
}
.name {
    text-transform: capitalize;
}
.message__error {
    font-size: 70%;
    color: red;
}

.login-page  {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.login-page .mdl-card {
  text-algin: center;

}

.login-page  > .mdl-card__title {
  
  
}
.login-page  > .mdl-card__menu {
  color: #fff;
}

.patients-list-table th {
    margin-right: 50px;
}

.patients-list-cell__full {
    width: 100%;
}

.patients-list--action_right {
    float: right;
    margin: 8px;
}

.full_height {
    height: 100%;
}

.table__wide {
    margin: 5px;
    margin-top: 0;
    width: 100%;
}

@media(max-width: 800px) {
    .table__wide {
        margin: 0px;
        
    }
}

.radio_button_horizontal {
    display: inline-block;
}

.mdl-data-table td  label {
    text-align: left;
    padding-right: 10px;
    word-wrap: break-word
}
 
 
 .bpmh_md-select {
     padding: 5px;
 }
 textarea:focus , input:focus {
     outline:none;
 }
 .md-select-label_200 .md-select-label{
     width: 200px;
 }
 
 .underlined {
     border-bottom: 1px #ccc solid !important;
 }
 .bpmh_md-input-container {
     
     height: 100%;

 }
 .bpmh_md-input-container label{
     color: rgba(0,0,0,0.62);
 }
 .bpmh_md-input-container label.margin_right{
     margin-right: -1em;
 }
 .bpmh_md-input-container input, .bpmh_md-input-container textarea
 {
     border: 0;
     background-color: transparent;
 }
 
 .bpmh_md-input-container span {
     padding-left: 20px;
     text-align: left;
     font-weight: bold;
 }
 .bpmh_md-input-container input:focus, .bpmh_md-input-container textarea:focus
 {
     border-bottom-width: 2px;
     border-bottom-color: rgb(96,125,139);
     border-bottom-style: solid;
 }
  .admission_md-input-container  {
      height: 100%;
  }
 .admission_md-input-container input {
     border: 0;
     background-color: transparent;
 }
 .admission_md-input-container input:focus
 {
     border-bottom-width: 2px;
     border-bottom-color: rgb(96,125,139);
     border-bottom-style: solid;
  
 }

 .margin-left-20px {
     margin-left: 20px;
 }
 
 .text-align-left {
     text-align: left !important;
     padding-left: 5px;
 }
 .text-align-center{
     text-align: center !important;
 }
 .rotate {
 	transform: rotate(-90deg);
 	padding-left: 15px;

 }
 
 .padding-top-30px{
     padding-top: 30px !important;
 }
 
 .mdl-layout__drawer-button {
     color: black;
 }
 
 .page-title_row {
     text-align: center;
     color: #767777;
     font-weight: 300;
 }
 
 .patient-demographics_row {
     font-size: 90%;
     font-weight: bold;
     
 }
 
 .vertical-align_top {
     vertical-align: top;
 }
 
 td.borderless {
     border: 0;
 }
 
 .admission_md-input-container input {
     width:100%;
     padding-left: 5px;;
 }
 
 .text-right {
     text-align: right;
 }
 
 .padding-left_10 {
     padding-left: 10px;
 }
 
 .full-cell {
     padding:0 !important;
 }
 
 .padding_5 {
     padding: 5px 5px 5px 25px;
 } 
 
 .light {
     color: #666;
 }
 
 .red {
     color: red;
 }
 
 .color-green {
     color: green;
 }
 .padding-bottom_5 {
     margin-bottom: 5px;
 }
 
 .background-color_blue {
     background-color: aliceblue;
 }
 .background-color_green {
     background-color: honeydew;
 }
 
 .background-color_red {
     background-color: lavenderblush;
 }
 
 .background-color_yellow{
     background-color: beige;
 }
 .padding-top_10 {
     padding-top: 10px;
 }
 
 .height_0 {
     height: 0 !important;
     margin-top:0;
     margin-bottom: 0;
     padding-top: 0 !important;
     padding-bottom: 0 !important;
 }
 
 .margin-0 {
     margin: 0;
 }
 
 .crossed {
     color: #ccc;
    text-decoration: line-through;
    margin-right:5px;

 }
 
 